In [46]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [49]:
tickers = ['TCS.BO','RELIANCE.BO','INFY.BO','SBIN.BO','ONGC.BO']

In [52]:
data = yf.download(tickers, period = '5y', interval = '1d')

[*********************100%%**********************]  5 of 5 completed

In [53]:
data

              Adj Close                                                    \
                INFY.BO     ONGC.BO  RELIANCE.BO     SBIN.BO       TCS.BO
Date
2019-01-21   723.535645  136.525085  1226.460693  286.777679  1840.127930
2019-01-22   725.094299  136.242142  1226.709106  284.766724  1834.865723
2019-01-23   712.528015  135.063156  1217.718018  281.039154  1814.975464
2019-01-24   713.843079  133.931351  1237.289795  282.461548  1836.217407
2019-01-25   711.310364  134.072815  1238.134155  279.812988  1852.921387
...                 ...         ...          ...         ...          ...
2024-01-15  1652.000000  233.550003  2787.500000  640.150024  3902.399902
2024-01-16  1630.949951  235.100006  2747.649902  636.799988  3861.000000
2024-01-17  1639.900024  232.300003  2722.800049  626.150024  3884.149902
2024-01-19  1658.949951  242.000000  2735.050049  627.700012  3942.250000
2024-01-20  1648.750000  241.850006  2713.199951  631.500000  3860.600098

                  Close                                                    \
                INFY.BO     ONGC.BO  RELIANCE.BO     SBIN.BO       TCS.BO
Date
2019-01-21   742.750000  144.750000  1234.500000  292.350006  1905.800049
2019-01-22   744.349976  144.449997  1234.750000  290.299988  1900.349976
2019-01-23   731.450012  143.199997  1225.699951  286.500000  1879.750000
2019-01-24   732.799988  142.000000  1245.400024  287.950012  1901.750000
2019-01-25   730.200012  142.149994  1246.250000  285.250000  1919.050049
...                 ...         ...          ...         ...          ...
2024-01-15  1652.000000  233.550003  2787.500000  640.150024  3902.399902
2024-01-16  1630.949951  235.100006  2747.649902  636.799988  3861.000000
2024-01-17  1639.900024  232.300003  2722.800049  626.150024  3884.149902
2024-01-19  1658.949951  242.000000  2735.050049  627.700012  3942.250000
2024-01-20  1648.750000  241.850006  2713.199951  631.500000  3860.600098

            ...         Open                                       \
            ...      INFY.BO     ONGC.BO  RELIANCE.BO     SBIN.BO
Date        ...
2019-01-21  ...   733.000000  146.250000  1193.900024  295.149994
2019-01-22  ...   740.650024  145.850006  1234.000000  292.350006
2019-01-23  ...   743.250000  144.899994  1233.400024  290.049988
2019-01-24  ...   729.500000  144.949997  1225.050049  285.500000
2019-01-25  ...   728.700012  142.100006  1250.099976  288.500000
...         ...          ...         ...          ...         ...
2024-01-15  ...  1630.050049  229.199997  2746.899902  639.549988
2024-01-16  ...  1647.750000  234.949997  2781.850098  640.650024
2024-01-17  ...  1620.000000  232.649994  2729.850098  627.900024
2024-01-19  ...  1650.000000  236.000000  2753.000000  634.200012
2024-01-20  ...  1661.500000  243.350006  2729.949951  629.549988

                         Volume
                 TCS.BO INFY.BO  ONGC.BO RELIANCE.BO  SBIN.BO  TCS.BO
Date
2019-01-21  1900.400024  439700   206311     1461187  1451832  145868
2019-01-22  1908.000000  241180   275455     1241159   713849   85612
2019-01-23  1900.000000  250110   180451      419632   578169   64588
2019-01-24  1882.000000  185362   160213      946733   578602   83595
2019-01-25  1904.400024  176637   171155      516086   498339   97696
...                 ...     ...      ...         ...      ...     ...
2024-01-15  3952.449951  314434  2639314      121727  1699670   89116
2024-01-16  3902.250000  103624  2002011      153804   952215   25447
2024-01-17  3835.850098  113061  1366860      115862   546363   41328
2024-01-19  3930.000000  626392   902980      483007   973239  562002
2024-01-20  3945.449951   39649   387786      171490  1054920   21266

[1217 rows x 30 columns]

In [55]:
adj_close_df = pd.DataFrame()

for i in tickers:
    data = yf.download(i, period = '5y', interval = '1d')
    adj_close_df[i] = data ['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [56]:
adj_close_df

                 TCS.BO  RELIANCE.BO      INFY.BO     SBIN.BO     ONGC.BO
Date
2019-01-21  1840.127930  1226.460693   723.535645  286.777679  136.525101
2019-01-22  1834.865723  1226.709106   725.094299  284.766724  136.242142
2019-01-23  1814.975464  1217.718018   712.528015  281.039154  135.063156
2019-01-24  1836.217529  1237.289795   713.843079  282.461548  133.931366
2019-01-25  1852.921387  1238.134155   711.310364  279.812988  134.072830
...                 ...          ...          ...         ...         ...
2024-01-15  3902.399902  2787.500000  1652.000000  640.150024  233.550003
2024-01-16  3861.000000  2747.649902  1630.949951  636.799988  235.100006
2024-01-17  3884.149902  2722.800049  1639.900024  626.150024  232.300003
2024-01-19  3942.250000  2735.050049  1658.949951  627.700012  242.000000
2024-01-20  3860.600098  2713.199951  1648.750000  631.500000  241.850006

[1217 rows x 5 columns]

In [57]:
log_returns = np.log(adj_close_df/adj_close_df.shift(1))

In [58]:
log_returns

              TCS.BO  RELIANCE.BO   INFY.BO   SBIN.BO   ONGC.BO
Date
2019-01-21       NaN          NaN       NaN       NaN       NaN
2019-01-22 -0.002864     0.000203  0.002152 -0.007037 -0.002075
2019-01-23 -0.010899    -0.007356 -0.017482 -0.013176 -0.008691
2019-01-24  0.011636     0.015945  0.001844  0.005048 -0.008415
2019-01-25  0.009056     0.000682 -0.003554 -0.009421  0.001056
...              ...          ...       ...       ...       ...
2024-01-15  0.005319     0.017151  0.024387  0.010048  0.044656
2024-01-16 -0.010666    -0.014399 -0.012824 -0.005247  0.006615
2024-01-17  0.005978    -0.009085  0.005473 -0.016866 -0.011981
2024-01-19  0.014847     0.004489  0.011550  0.002472  0.040908
2024-01-20 -0.020929    -0.008021 -0.006167  0.006036 -0.000620

[1217 rows x 5 columns]

In [59]:
log_returns = log_returns.dropna()

In [60]:
log_returns

              TCS.BO  RELIANCE.BO   INFY.BO   SBIN.BO   ONGC.BO
Date
2019-01-22 -0.002864     0.000203  0.002152 -0.007037 -0.002075
2019-01-23 -0.010899    -0.007356 -0.017482 -0.013176 -0.008691
2019-01-24  0.011636     0.015945  0.001844  0.005048 -0.008415
2019-01-25  0.009056     0.000682 -0.003554 -0.009421  0.001056
2019-01-28  0.016999    -0.013450 -0.002743 -0.012878 -0.001760
...              ...          ...       ...       ...       ...
2024-01-15  0.005319     0.017151  0.024387  0.010048  0.044656
2024-01-16 -0.010666    -0.014399 -0.012824 -0.005247  0.006615
2024-01-17  0.005978    -0.009085  0.005473 -0.016866 -0.011981
2024-01-19  0.014847     0.004489  0.011550  0.002472  0.040908
2024-01-20 -0.020929    -0.008021 -0.006167  0.006036 -0.000620

[1216 rows x 5 columns]

In [61]:
cov_matrix = log_returns.cov()*252

In [62]:
cov_matrix

               TCS.BO  RELIANCE.BO   INFY.BO   SBIN.BO   ONGC.BO
TCS.BO       0.063118     0.027923  0.047562  0.022078  0.026297
RELIANCE.BO  0.027923     0.093876  0.028924  0.041514  0.044475
INFY.BO      0.047562     0.028924  0.086363  0.025957  0.027300
SBIN.BO      0.022078     0.041514  0.025957  0.117221  0.050745
ONGC.BO      0.026297     0.044475  0.027300  0.050745  0.144848

In [68]:
weights = np.array([0.2,0.2,0.2,0.2,0.2])

In [71]:
avg_returns = log_returns.mean()
avg_returns

TCS.BO         0.000609
RELIANCE.BO    0.000653
INFY.BO        0.000677
SBIN.BO        0.000649
ONGC.BO        0.000470
dtype: float64

In [72]:
port_returns = avg_returns @ weights
port_deviation = np.sqrt(weights.T @ cov_matrix @ weights)

In [74]:
port_returns

0.0006118102845543036

In [75]:
port_deviation

0.2182638816875573

In [76]:
risk_free_rate = 0.04

In [77]:
Sharpe_Ratio = (port_returns - risk_free_rate)/port_deviation

In [78]:
Sharpe_Ratio

-0.18046132695390033